// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index{
	text-align: center;
	margin-bottom: 15px;
}



td{
	padding:15px;
}